<html>
    <head>
        <title>The Life of Steve</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Life of Steve</a></h1>
        </div>
        
        <div>
            <p>published: 07.07.2020, 20:00</p>
            <h2><a href="">My First Post</a></h2>
            <p>Hello and welcome to my website. This is an early draft of it. I plan to include several different blog posts here.
                A few topics I will write about are: Weight Loss, Habits and Coding.
            </p>
        </div>
        
        <div>
            <p>published: 07.07.2020, 20:00</p>
            <h2><a href="">My Second Post</a></h2>
            <p> I hope you enjoyed my first post earlier. Today I bring you a second one. No-one will be able to see this as this website is
                only availiable on localhost but that will soon change.
            </p>
        </div>
    </body>
</html>