h1 a, h2 a {    /* draft posts */
    font-family: 'Lobster';
    color: #ff0000;
    }
body {
    backroun;
    padding-top: 20px ;
    padding-left: 15px;
}

.page-header { 
background-color: #2714d4;
margin-top: 0;
padding: 10px 10px 10px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
color: #fff9aa; /* website name*/ 
font-size: 20pt;
text-decoration: none;
}
.content {
margin-left: 40px;
}
h1, h2, h3, h4 {
font-family: 'Lobster';
}
.date {
color: #828282;
font-size: 10pt;
}
.save {
float: right;
}
.post-form textarea, .post-form input {
width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {         /* login */
color: #afffee;
float: right;
font-size: 12pt;
margin-right: 20px;
}
.post {
margin-bottom: 70px;
font-size: 10pt;
}
.post h2 a, .post h2 a:visited {
color: #ff0000;
}
.comment {
    margin: 20px 0px 20px 20px;
}